<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windy.boxshop.mapper.StorageMapper">

    <select id="pageCC" resultType="com.windy.boxshop.entity.Storage">
        select *
        from Storage ${ew.customSqlSegment}
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.windy.boxshop.entity.Storage">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="initial_capacity" property="initialCapacity"/>
        <result column="calculated_capacity" property="calculatedCapacity"/>
        <result column="remaining_capacity" property="remainingCapacity"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, remark, initial_capacity, calculated_capacity, remaining_capacity
    </sql>

</mapper>
